body { 
    margin: 0;
    padding: 0;
    background: #fff;
    scroll-behavior: smooth;
    box-sizing: border-box; /* praza */
}
header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    background-size: cover; 
    background-position: center;
    transition: 0.6s;
    background: none;
    padding: 0px 0px;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    text-align: center; 
    height: auto; 
}

#logo {
    transform: scale(0.3);
    transition: 0.6s;
    cursor: pointer;
    margin: -40px -50px;
}

.navbar-links {
    height: 100%;
}


.navbar-links ul {
    z-index: 101;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    width: 0px;
}

.navbar-links li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 1rem;
    height: 60px;
}

.toggle-button {
    position: absolute;
    top: 35px;
    right: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 1436px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        color: #fea223;
        font-family: 'open sans', sans-serif;
    }

    .navbar-links.active {
        margin: 0;
        background: #333;
        text-align: center;
        display: flex;
        height: 340px;
        margin-top: -10px;
    }
}
hr {
    position: relative;
    width: 40%;
    border:0; 
    border-top: 2px solid #fea223;
}
#section1 {
    position: relative;
    background: #fff;
    width: 100%;
    height: 250px;
}
#section1 img {
    z-index: 1;
    width: 100%;
    height: 240px;
}
#section2 {
    position: relative;
    margin: auto;
    width: 70%;
    height: auto;
    /*height: 200px;*/
}
#icon img{
    float: right;
    position: relative;
    width: 200px;
    height: 200px;
    -webkit-animation:glide 4s ease-in-out alternate infinite;
}
@-webkit-keyframes glide  {
   from {
      left:-120px;
      top:0px;
   }
   to {
      left:50px;;
      top:0px;
   }  
} 
#section2 h1{
    float: left;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;
}
#section2 p{
    float: right;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
    text-decoration: none;
}
#section2 p a{
    text-decoration: none;
    color: #fea223;
}
#section2 p a:hover{
    text-decoration: underline;
}
#section3 {
    position: relative;
    width: 90%;
    height: 600px;
    margin: auto;
}
#section3 h2{
    font-family: 'Fuzzy Bubbles', cursive;
    font-size:24px;
    margin-bottom:20px;
}
#section3 h1{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;
    width: 500px;
}
/* Menu rozwijane */
.scroll-menu {
    width: 200px;
    position: relative;
    height: 200px;
}
.click{
    display: inline-block;
    width: 200px;
    height: 100px;
    background: #fff;
    box-shadow: 0 5px 15px  #aaa;
    overflow: hidden;
    position: relative;
    color: black;
    cursor: pointer;
}
.click:hover{
    border: 5px solid #F57D28;
}
.click,.links{
    padding: 12px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 200px;
    transition: 0.3s ease-in-out;
}
.list{
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    background: white;
}
.newlist{
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: scaleY(1);

}
.links{
    width: 200px;
    height: 70px;
    background: white;
}
.links:hover{
    background: linear-gradient(#F5AB60, #F57D28);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
    transform: scale(1.1);
}
    @keyframes onHover{
    0%{
        left: -110%;
        top: -30%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
    top: -10%;
    left: -10%;
    }
}
#buttonSubmit{
    font-family: 'open sans' sans-serif;
    font-size: 20px;
    margin-top: 10px;
    background: #fea223;
    height: 100px;
    width: 200px;
    border: 2px solid #fea223;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: 0 5px 15px  #aaa;
}
#buttonSubmit:hover{
    background: #fff;
    box-shadow: 0 10px 20px  #aaa;
}
#section4 {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#section4 .text h1{
    
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;

}
#section4 .text p{
    float: left;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
}
#section5 {
    position: relative;
    width: 90%;
    height: auto;
    /*height: 600px;*/
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: none;
}
#section5 .text h1{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;
}
#section5 .text p{
    float: left;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
}
#section5 .text .content img{
    width: 50px;
    height: 50px;
}
.stats {
    width: 100%;
    height: 130px;
    background: none;
    margin: auto;
    margin-top: 1%;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.stats img {
    width: 130px;
    height: 130px;
}
.statsImg {
    margin: auto;
    float: left;
    width: 50%;
    height: 130px;
}
.stats hr{
    position: relative;
    width: 10%;
    border:0; 
    border-top: 2px solid #5dc776;
}
.statsRight {
    width: 90%;
    height: 130px;
    margin: auto;
    color: #fea223;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
#section5 .stats h1{
    color: #fea223;
    font-size: 30px;
}
.reveal{
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
footer{
    height: 320px;
    background: #232f3e;
    margin: auto;
    padding: auto;
}
footer a{
    text-decoration: none;
}
#comeBack {
    width: 100%;
    height: 50px;
    background: #445769;
    cursor: pointer;
    margin: auto;
}
#comeBack:hover {
    background: #4f5769;
}
#comeBack p{
    font-family: 'open sans' sans-serif;
    font-size: 36px;
    text-align: center;
    color: #fff;
}
footer h1{
    font-family: 'open sans' sans-serif;
    color: #fff
}
.foo{
    margin: auto;
    text-align: center;
    float: left;
    width: 33.3%;
    height: 220px;
}
.foo p{
    font-family: 'open sans' sans-serif;
    color: #fff;
}
.foo p a{
    font-family: 'open sans' sans-serif;
    color: #fea223;
}
.foo p a:hover{
    text-decoration: underline;
}
#footer-right{
    float: right;
    width: 33.3%;
    height: 220px;
}
/* Mapa */
.data1 {
    color: #333;
    font-family: 'open sans' sans-serif;
    font-size: 22px;
}
.data2 {
    color: #fea223;
    font-family: 'open sans' sans-serif;
    font-size: 18px;
}
/*Podstrona*/
#section3p {
    position: relative;
    width: 90%;
    height: auto;
    padding: 30px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#section3p h1{
    padding: 10px;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;

}
#section3p p{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 24px;
}

#section4p {
    position: relative;
    width: 90%;
    height: 600px;
    padding: 30px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#section4p h1{
    padding: 10px;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;

}
#section4p p{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 24px;
}
#section4p img {
    float: left;
    width: 40%;
    position: relative;
}
#section4p iframe{
    float: left;
    position: relative;
    min-width: 40% !important;
    border: none;
    height: 620px;
}
#kalkulator {
    position: relative;
    width: 100%;
    height: auto;
    background: orange;
    border-radius: 10px;
}
#kalkulator h1{
    padding: 10px;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;
}
#kalkulator h2{
    padding: 10px;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
}
#kalkulator p{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
}
#kalkulator a{
    color: #fff;
}
#kalkulator input{
    padding: 10px;
    margin: 10px 0;
    height: 50px;
    width: 300px;
    border: 0;
    font-size: 18px;
    border-radius: 10px;
}
#kalkulator button{
    font-family: 'open sans' sans-serif;
    padding: 10px;
    margin: 10px 0;
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}
.container{
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

.container .card{
    width: 308px;
    position: relative;
    height: 450px;
    background: #f0f0f0;
    margin: 40px 30px;
    padding: 20px 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e6e6e6;
    transition:0.3s ease-in-out;
    margin-top: 5%;
}
 .container .card .imgBx{
    position: relative;
    width:260px;
    height: 260px;
    top: -60px;
    left:20px;
    box-shadow: 0 5px 20px rbga (0,0,0,1.2);

}
#section6p .container .card .imgBx img
{
    width: 260px;
    height: 200px;
    max-width: 100%;
    border-radius: 10px;
}
.container .card .imgBx p{
    line-height: 22px;
}
#section6p img:hover {
    transform: scale(1.1);
    transition-duration: 0.6s;
}
#section6p {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#section6p h1{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;
}
#section6p .text h1{
    padding: 10px;
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 40px;

}
#section6p .text p{
    color: #505050;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
}
#section6p .text .content{
    color: black;
    font-family: 'open sans' sans-serif;
}