
svg{
    max-width:565px;
    max-height:533px;
    cursor: pointer;
}
svg path {
    fill: grey;
    stroke: #eee;
    stroke-width: .25;
    transition: 0.6s;
}
svg path:hover {
    fill: orange;
    transition: 0.6s;
    cursor: pointer;
}
svg text {
   cursor:pointer;
}

.map-cnt {
    float:right;
    width: 40%;
    position: relative;
}
map-data {
    box-sizing:border-box;
    float:right;
    width:50%;
    padding-left:20px;
}
@media screen and (max-width:830px) {
    .map-cnt {float:none;}
    .map-data {
        margin-top:30px; 
        float:none;
    }
}
.map-data {
    position: relative;
    padding-top:30px;
    width: 50%;
}
.map-data div {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size:26px;
    color:#777;
    font-weight:normal;
    margin-bottom:20px;
}
.map-data div strong {
    font-weight:normal;
}
.map-data div span {
    color:#333;
    font-weight:bold;
}